
@mixin fade-bg-gradient($direction: 90deg) {
	&::before {
		@apply w-full h-full absolute top-0 left-0 z-1;
		content: '';

		background: linear-gradient(
			$direction,
			#101215 3.31%,
			rgba(#101215, 0.99) 7.71%,
			rgba(#101215, 0.96) 12.11%,
			rgba(#101215, 0.91) 16.51%,
			rgba(#101215, 0.85) 20.91%,
			rgba(#101215, 0.76) 25.31%,
			rgba(#101215, 0.67) 29.71%,
			rgba(#101215, 0.55) 34.11%,
			rgba(#101215, 0.44) 38.52%,
			rgba(#101215, 0.33) 42.92%,
			rgba(#101215, 0.23) 47.32%,
			rgba(#101215, 0.15) 51.72%,
			rgba(#101215, 0.08) 56.12%,
			rgba(#101215, 0.03) 60.52%,
			rgba(#101215, 0.01) 64.92%,
			rgba(#101215, 0) 69.32%
		);
	}
}

$shadow:
	0 10px 10px 0 rgb(0 0 0 / 15%),
	0 6px 6px 0 rgb(0 0 0 / 15%),
	0 3px 3px 0 rgb(0 0 0 / 15%);

.collections {
	@apply flex flex-wrap gap-x-8 items-center mt-10;

	> a {
		@apply animate-fade;
	}

}

.collection {
	@apply relative flex items-end mb-10 h-44 transition-transform z-0;
	width: 31%;

	@include fade-bg-gradient(0deg);
	&::before {
		@apply rounded-layout;
	}

	img {
		@apply rounded-layout image-like-bg;
		box-shadow: $shadow;
	}

	> span {
		@apply z-1;
	}

	.behind {
		@apply absolute overflow-hidden -z-1 transition-transform;

		&.second {
			@apply opacity-60 -top-1.5 left-2.5 right-2.5 bottom-4;
		}

		&.third {
			@apply opacity-40 -top-3 left-5 right-5 bottom-8;
		}
	}

	&:hover {
		@apply -translate-y-1;

		.behind {
			&.second {
				transform: translateY(1px);
			}

			&.third {
				transform: translateY(2px);
			}
		}
	}

	.content {
		@apply relative z-2 text-center m-3 w-full;

		.title {
			@apply font-semibold mb-1 text-white text-shadow;
		}
	}
}
